[defaults]
# This is the most important line for your specific error
#module_compression = none
interpreter_python = /usr/bin/python3
host_key_checking = False
roles_path = ./roles
inventory = ./inventories

[ssh_connection]
# Pipelining can interfere with environment changes; keep it off for now
pipelining = False
